.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
    padding: 20px;
    width: 100%;
}

.navbar{
    color: white;
}

#display{
    width: 100%;
}

#gen{
    background-color: red;
}

#copy{
    background-color: royalblue;
    float: right;
}